@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-image: url('../images/skyline.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 600px) {
    #button-container {
        flex-direction: column;
        align-items: center;
    }

    .selectionbuttons {
        width: 80%;
        height: auto;
        margin: 10px 0;
    }
}

#top-container {
    display: flex;
    justify-content: center;
    height: 25%;
    padding-top: 2%;
    position: relative;
}

#button-container {
    display: flex;
    justify-content: center;
}

.selectionbuttons {
    position: relative;
    border-style: solid;
    color: black;
    text-decoration: none;
    border-radius: 5%;
    display: flex;
    height: 400%;
    width: 350px;
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    font-weight: 900;
}

.selectionbuttons img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: auto;
    pointer-events: none;
    z-index: 0;
}

#about-me {
    width: 50%;
    padding-top: 5%;
    display: inline-block;
}

#github {
    width: 50%;
    padding-top: 5%;
    display: inline-block;
}

#contact-details {
    width: 50%;
    padding-top: 5%;
    display: inline-block;
}

#academy {
    padding-top: 3%;
}

#email {
    padding-top: 3%;
}

#home {
    cursor: pointer;
}

#home:hover {
    color: white;
}
